nav{
    width: 96%; 
    max-width: 96%;
    max-height: 10%;
    backdrop-filter: blur(7px);
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: white;
    padding: 1px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;  
    transition: ease-in-out 0.4s; 
    margin-top: 5px;
}
.logo1{
    margin-top: -40px;
}
.logo1 img{
    width: 157px;
    margin-left: -20px;
}
h3{
    font-size: 13.8px;
    margin-left: 10px;
    font-weight: 600;
}


/* ---------------nav links------------------ */
nav ul li {
    display: inline-block;
    margin: 2px 0;
    font-size: 14px;
    margin-top: 10px;
}

nav ul li img{
    width: 21px;
    margin-right: 6px;
    vertical-align: middle;
    margin-top: -5px;
}

nav ul li:not(:last-child) {
    margin-right: 120px;
    transition: ease-in-out 0.9s;
}
nav ul li:not(:last-child):hover{
    transform: scale(1.5);
    transition: ease-in-out 0.4s;
}

nav ul li:last-child {
    margin-left: 170px;
    margin-right: 10px;
    background:linear-gradient(to right, #575757, #ff6969);
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 100px;
    font-size: 10.5px;
    text-align: center;
    font-weight: 600;
    padding: 8px 8px;
    height: 28px;
    transition: ease-in-out 0.9s;
}
.nav ul li:last-child img{
    width: 16px;
    margin-left: 40px;
    margin-top: -3px;
}
nav ul li:last-child:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.4s; 
}




/* ------------------sticky navbar------------------ */
.blur-nav{
    backdrop-filter: blur(14px);
    transition: ease-in-out 0.5s;
    color: black;
}
.blur-nav ul li:last-child{
    background:linear-gradient(to right, #575757, #ff6969);
    color: white;
    transition: ease-in-out 0.9s;
}
.blur-nav ul li:last-child:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.4s;
}
.blur-nav ul li:not(:last-child):hover{
    transform: scale(1.5);
    transition: ease-in-out 0.4s;
}




.menu-icon{
    display: none;
}












/* --------------------media query------------------ */

@media(max-width:1000px){
    nav ul li{
        margin: 8px 15px;
    }
    .logo{
        width: 100px;
    }
    
  
    nav ul li:last-child {
        margin-left: 15px; 
    }
}

@media(max-width:840px){
    nav{
        padding: 10px 10;
        margin-top: 10px;
    }

    nav h3{
        font-size: 12px;
        font-weight: 600px;
    }

    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        background:linear-gradient(to right, #1b1b1b, #ff6969);
        opacity: 0.94;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.8);
        z-index: -1;
        width: 195px;
        padding-top: 50px;
        margin-top: 1px;
        margin-right: 1px;
        transition: ease-in-out 0.7s;
    }

    nav ul li{
        display: block;
        margin: 70px 0; 
        font-weight: bold;
        font-size: 1.2rem;
        color: white;
        white-space: nowrap;
        font-weight: 600;
    }
    
   
    nav ul li:last-child {
        margin-left: 0px; 
        width: 120px;
        font-size: 16px;
        padding: 5px 2px;
    }
    
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -400px;
        transform: scale(-1.7);
        transition: ease-in-out 1.7s;
    }
}